################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomationTest/IndigoTest/obj/Debug
/AutomationTest/.vs/AutomationTest/v15
/AutomationTest/.vs/config
/AutomationTest/IndigoTest/bin/Debug
/AutomationTest/packages
