<section class="content center">
  <section class="invoice">
    <div class="col-xs-12">
      <p class="lead">Item 02: Acesso à informações de um texto</p>
      <p class="lead">Objetivo: Você deve acessar as informações a baixo e mostra-las no campo de texto e em seguida clicar no botão "Proxima Tarefa"</p>
    </div>
    <div class="row ">
      <div class="col-xs-10" id="text">
        <p>
          O Guia do Mochileiro das Galáxias define o departamento de marketing da Companhia Cibernética de Sirius como "um monte de babacas que serão os primeiros a irem para o paredão quando a revolução estourar".
          Uma nota de rodapé acrescenta que a redação do Mochileiro está aceitando candidatos para o cargo de correspondente de robótica.
          Curiosamente, uma edição da Enciclopédia Galáctica que, por um feliz acaso, caiu numa descontinuidade do tempo, vinda de mil anos no futuro,
          definiu o departamento de marketing da Companhia Cibernética de Sirius como "um monte de babacas que foram os primeiros a ir para o paredão quando a revolução estorou"
        </p>
        <cite>- O Guia do Mochileiro das Galáxias</cite>
      </div>
    </div>
  </section>

  <section class="invoice">
    <div class="row invoice-info">
      <div class="col-xs-12">
        <p class="lead">Resultados:</p>
      </div>
      <div class="col-sm-10 col-xs-10">
        <div class="form-group">
          <label class="control-label required" for="textArea"> Coloque o texto acima no TextArea abaixo:</label>
          <textarea rows="8" type="text" class="form-control" id="textArea" name="textArea"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-info pull-right" id="goToItem03" routerLink="/item03">
          <i class="fa fa-save"></i> Proxima Tarefa
        </button>
      </div>
    </div>
  </section>
</section>
